body {
  background-color: #9fd3c7;
}

h1, p {
  text-align: center;
  color: #142d4c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: transparent;
}

button {
  height: 30px;
  color: #9fd3c7;
  background-color: #142d4c;
}
  
p {
  margin: 0;
}

input[type="range"] {
  background-color: #142d4c;
}
