body {
  background-color: #9fd3c7;
}

h1 {
  margin-top: 2vw;
  font-size: 3vw;
  margin-bottom: 2.5vw;
}

h1, p {
  text-align: center;
  color: #142d4c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#row {
  margin-top: 3vw;
  display: flex;
  gap: 3vw;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: white;
  width: 30vw;
  height: 30vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#settings {
  display: flex;
  flex-direction: column;
  gap: .8vw;
  width: 6vw;
  background-color: transparent;
}

button {
  font-size: 1vw;
  height: 2vw;
  color: #9fd3c7;
  background-color: #142d4c;
  border: none;
  border-radius: .23vw;
}

p {
  font-size: .8vw;
  margin: 0;
  margin-top: -.5vw;
}

#slider {
  -webkit-appearance: none;
  height: .75vw;
  width: 100%;
  border-radius: .3vw;
  background: white;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%; 
  background: #142d4c;
}

#slider::-moz-range-thumb {
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
  background: #142d4c;
}